absl==0.0
autobahn_rce==0.6.0.5
bpy==5.0.1
click==8.0.3
cma==4.4.0
diffusers==0.36.0
etils==1.13.0
fastapi==0.128.1
gTTS==2.5.4
h5py==3.15.1
hidapi==0.14.0.post4
imageio==2.37.0
inputs==0.5
ipdb==0.13.13
loguru==0.7.3
lxml==4.8.0
mink==1.0.0
omniverse_kit==106.5.0.162521
open3d==0.19.0
pcl==0.0.0.post1
pinocchio==0.4.3
pixel_ring==0.1.0
pyaudio==0.2.14
pydantic==2.12.5
pydub==0.25.1
pymongo==4.16.0
pynput==1.8.1
PyOpenGL==3.1.10
pyquaternion==0.9.9
pyserial==3.5
pytest==6.2.5
pyttsx3==2.99
pyusb==1.3.1
quaternion==3.5.2.post4
renamed_opencv_python_inference_engine==2022.1.5
Requests==2.32.5
robosuite_models==1.0.0
rspy==0.0.3
simpleaudio==1.0.4
simplejson==3.20.2
skimage==0.0
sounddevice==0.5.2
speechrecognition==3.14.3
sphinx_book_theme==1.1.4
tianshou==0.4.10
trimesh==4.4.7
Twisted==22.1.0
ujson==5.1.0
urchin==0.0.29
urdf_parser_py==0.0.4
uvicorn==0.40.0